body {
  text-align: center;
  font-size: 62.5%;
  font-family: 'Fredoka One', cursive;
}

img {
  padding-top: 2rem;
  /*width: 80%;*/
  height: 80%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 50%;
}

li {
  height: 40vw;
  margin: 0 auto;
  border: solid 1px #8a8a8a;
  border-radius: 1rem;
  position: relative;
}

h2 {
  color: white;
  font-size: 5rem;
  position: absolute;
  top: 7.5rem;
  left: 50%;
  transform: translateX(-50%);
}
